/* VARIABLES -----------------------------------------------------------*/

// TITLES
$font-title: "Source Sans Pro", sans-serif;
$font-default: "Open Sans", sans-serif;

// COLORS
$black: #222426;
$black-back: #2b2f31;
$black-footer: #333b43;
$black-box: #414a53;
$blue: #3598c1;
$blue-btn: #6fa5f7;
$blue-box: #3598c1;
$gray: #797d8c;
$gray-dark: #414a53;
$gray-light: #f8f8f8;
$purple: #8161e7;
$white: #fff;

// GENERAL
$text-color: $black;
$link-color: $blue;
$link-color-hover: $black;
$shadow: 3px 3px 10px rgba($black, 0.1);




