/* BUTTONS -----------------------------------------------------------*/

.btn{
	@extend .trans;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	border-radius: 2px;
	border: none;
	outline: none;
	width: 100%;
	font-family: $font-title;
	text-transform: uppercase;
	background-color: $blue-btn;
	color: $white;
	font-size: 15px;
	font-weight: 600;

	&:focus, &:hover {
		opacity: 0.7;
	}
}