/* FOOTER -----------------------------------------------------------*/

.footer{
  margin-top: 30px;

  .text{
    padding: 15px 0;
    text-align: center;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/
@media (min-width: 768px) {
  .footer{
    height: 150px;
    padding: 55px 0;

    .text{
      text-align: left;
      padding: 15px;
      font-size: 13px;
    }

    .contact{
      text-align: right;
      font-size: 13px;

      ul{
        padding-left: 0;
      }

      li{
        display: inline;
        color: gray;

        i{
          margin-right: 5px;
        }

        &:first-child{
          margin-right: 15px;
        }

        &:nth-child(2){
          margin-right: 15px;
        }

        a{
          color: $gray;

          &:hover{
            color: $blue;
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer{
    .contact{
      li{
        i{
          margin-right: 15px;
        }

        &:first-child{
          margin-right: 20px;
        }

        &:nth-child(2){
          margin-right: 35px;
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer{
    .contact{
      li{
        i{
          margin-right: 15px;
        }

        &:first-child{
          margin-right: 40px;
        }

        &:nth-child(2){
          margin-right: 70px;
        }
      }
    }
  }
}
