/* INPUTS -----------------------------------------------------------*/

.input {
  @extend .trans;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-family: $font-title;
  text-transform: uppercase;
  background-color: #46494b;
  color: $white;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;

  &:focus, &:hover{
    border: none;
    outline: none;
  }
}


::-webkit-input-placeholder{
  color: $white;
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  margin-left: -2px;
}