/* DEFAULT CSS -----------------------------------------------------------*/

html {
  font-size: 1em;
}

body {
  font-family: $font-default;
  font-size: 1em;
  color: $text-color;
}

a {
  @extend .trans;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
  }
}

.text {
  font-family: $font-default, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.alert-error-name,
.alert-error-email,
.alert-error-tel{
  color: red;
  font-size: 12px;
  padding-left: 15px;
}

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  font-size: 14px;
}

/* HELPERS -----------------------------------------------------------*/
.left					{ text-align: left; }
.center					{ text-align: center; }
.right					{ text-align: right; }

.block 					{ display: block; }
.dtable 				{ display: table; }
.inline 				{ display: inline; }
.inline-block 		    { display: inline-block; }
.none 					{ display: none; }

.list-unstyled          { list-style-type: none; }

.pt-remove				{ padding-top: 0 !important; }
.pb-remove				{ padding-bottom: 0 !important; }

.mt-remove				{ margin-top: 0 !important; }
.mb-remove				{ margin-bottom: 0 !important; }

.full-width				{ width: 100%; }
.full-height			{ height: 100%; }