/* VARIABLES -----------------------------------------------------------*/

$font-default: "Arial", sans-serif;
$shadow: 3px 3px 10px rgba(0, 0, 0, 0 .1);
$black: #000;
$white: #fff;
$text-color: #333;
$link-color: #2689dd;
$link-color-hover: #1a5689;


